.desk {
    background-color: aqua;
}
.boc {
    background-color: burlywood;
}
.yyy {
    border-style: groove;
    background-color: gainsboro;
}
.ggg {
    background-color: cyan;
    font-style: italic;
}
.yu {
    border-style: solid;
    border-radius: 50px;
    text-align: center;
    color: black;
    
}
.fr {
    background-color: yellow;
}
.yt {
    text-align: center;
    font-family: Arial;
    color: darkgreen;
    font-style: italic;
    border-style: double;
    background-color: red;
    border-radius: 50px;
    border-width: 10px;
}
.tt {
    position: fixed;
}
